{% extends '::base.html.twig' %}

{% block body %}

    <!-- begin:heading -->
    <div class="heads" style="background: url('{{asset('bundles/app/img/bg1.jpg') }}')center center;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2> Aviso de privacidad</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- end:heading -->

    <div id="featured">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-left">                    
                    <div class="row">                        
                        <div class="col-xs-8"><p>
                        hgfhdfh
                        </p></div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
{% endblock %}