{% extends '::base.html.twig' %}

{% block body %}

	<!-- begin:heading -->
	<div class="heads" style="background: url('{{asset('bundles/app/img/Seccion_beneficios.png') }}') center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Beneficios</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->

	<!-- begin:featured -->
	<div class="page-content padd20-top-btm">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">¡Ten siempre el control de tus documentos fiscales sin pagar costosas actualizaciones!</h3>
					<hr>
					<div class="heading-title"><h2>Gestión básico</h2></div>
					<ul>
						<li>Interfaz amigable.</li>
						<li>Administra tus catálogos de clientes y productos.</li>
						<li>Recibe y valida tus facturas.</li>
						<li>Exporta la información de tus facturas a Excel.</li>
						<li>Manejo de usuarios.</li>
						<li>Utiliza varias monedas (Dólares y Euros).</li>
						<li>Envía por correo electrónico tus facturas en formato PDF y XML.</li>
						<li>Módulo de nóminas.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="featured">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-left">
					<div class="heading-title"><h2>Gestión Estándar</h2></div>
					<p>Administra, Contabiliza y Controla tu empresa con una misma aplicación</p>
					<ul>
						<li>Interfaz amigable.</li>
						<li>Administra tus catálogos de clientes y productos.</li>
						<li>Recibe y valida tus facturas.</li>
						<li>Exporta la información de tus facturas a Excel.</li>
						<li>Manejo de usuarios.</li>
						<li>Utiliza varias monedas (Dólares y Euros).</li>
						<li>Envía por correo electrónico tus facturas en formato PDF y XML.</li>
						<li>Módulo de nóminas.</li>
						<li>Controla tus Gastos</li>
						<li>Gestiona tus Cuentas por Cobrar</li>
						<li>Gestiona tus Cuentas por Pagar</li>
						<li>Controla tus Inventarios</li>
						<li>Automatiza tu contabilidad</li>
						<li>Paga tus comisiones de vendedores</li>
						<li>Controla tus Distribuidores</li>
						<li>Guarda tus documentos de forma electrónica
							<ul>
								<li>Pedidos</li>
								<li>Órdenes de Compra</li>
								<li>Comprobantes de cobro</li>
								<li>Comprobantes de pago</li>
								<li>Facturas de Compra</li>
								<li>Notas de crédito</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}