{% extends '::base.html.twig' %}

{% block body %}
	<!-- begin:heading -->
	<div class="heads" style="background: url('{{asset('bundles/app/img/Seccion_paquetes.png') }}') center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2> Paquetes Gestión</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
	
	<!-- begin:pricing -->
	<div class="page-content contact">
		<div class="container">

			<div class="row padd20-top-btm">
				<div class="col-md-12 text-center">
					<p>Adquiere tu paquete Gestión de acuerdo a las necesidades de tu empresa</p>
				</div>
			</div>

			<div class="row padd20-top-btm">
				<div class="col-md-12 text-center">
					<h3>GESTIÓN BÁSICO</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12 pricing-table no-zoom">
					<ul class="list-unstyled">
						<li class="head">Gestión 100</li>
						<li class="price"><sup>$</sup> 449 <p>Mensual</p><p></p></li>
						<li>100 Facturas</li>
						<li>Clientes/Ilimitado</li>
						<li>1 Usuario</li>
						<li>Soporte</li>
						<li>Notas de Credito</li>
						<li>Envía PDF y XML.</li>
						<li>Catálogos </li>
						<li>clientes y productos.</li>
						<li>Factura con tu logotipo.</li>
						<li class="foot"><a href="#" class="btn btn-warning btn-larges">Comprar</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 pricing-table no-zoom">
					<ul class="list-unstyled">
						<li class="head">Gestión 300</li>
						<li class="price"><sup>$</sup> 849 <p>Mensual</p><p></p></li>
						<li>300 Facturas</li>
						<li>Clientes/Ilimitado</li>
						<li>2 Usuarios</li>
						<li>Soporte</li>
						<li>Notas de Credito</li>
						<li>Envía PDF y XML.</li>
						<li>Catálogos </li>
						<li>clientes y productos.</li>
						<li>Factura con tu logotipo.</li>
						
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 pricing-table no-zoom">
					<ul class="list-unstyled">
						<li class="head">Gestión 500</li>
						<li class="price"><sup>$</sup> 1,199 <p>Mensual</p><p></p></li>
						<li>500 Facturas</li>
						<li>Clientes/Ilimitado</li>
						<li>3 Usuarios</li>
						<li>Soporte</li>
						<li>Notas de Credito</li>
						<li>Envía PDF y XML.</li>
						<li>Catálogos </li>
						<li>clientes y productos.</li>
						<li>Factura con tu logotipo.</li>
						
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 pricing-table no-zoom">
					<ul class="list-unstyled">
						<li class="head">Gestión 1000</li>
						<li class="price"><sup>$</sup> 1,899 <p>Mensual</p><p></p></li>
						<li>1000 Facturas</li>
						<li>Clientes/Ilimitado</li>
						<li>5 Usuarios</li>
						<li>Soporte</li>
						<li>Notas de Credito</li>
						<li>Envía PDF y XML.</li>
						<li>Catálogos </li>
						<li>clientes y productos.</li>
						<li>Factura con tu logotipo.</li>
						
					</ul>
				</div>
			</div>


			<div class="row padd20-top-btm" id="gststandar">
				<div class="col-md-12 text-center">
					<h3>GESTIÓN ESTÁNDAR</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12 pricing-table no-zoom">
					<ul class="list-unstyled">
						<li class="head">Gestión 1</li>
						<li class="price"><sup>$</sup> 500 <p>Mensual</p><p></p></li>
							<li>100 Facturas</li>
							<li>Clientes/Ilimitado</li>
							<li>1 Usuario</li>
							<li>Soporte</li>
							<li>Notas de Credito</li>
							<li>Envía PDF y XML.</li>
							<li>Catálogos </li>
							<li>clientes y productos.</li>
							<li>Factura con tu logotipo.</li>
							<li>Multialmacen.</li>
							<li>Compras.</li>
						
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 pricing-table no-zoom">
					<ul class="list-unstyled">
						<li class="head">Gestión 5</li>
						<li class="price"><sup>$</sup> 500 <p>Mensual</p><p></p></li>
							<li>300 Facturas</li>
							<li>Clientes/Ilimitado</li>
							<li>5 Usuario</li>
							<li>Soporte</li>
							<li>Notas de Credito</li>
							<li>Envía PDF y XML.</li>
							<li>Catálogos </li>
							<li>clientes y productos.</li>
							<li>Factura con tu logotipo.</li>
							<li>Multialmacen.</li>
							<li>Compras.</li>
						
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 pricing-table no-zoom">
					<ul class="list-unstyled">
						<li class="head">Gestión 10</li>
						<li class="price"><sup>$</sup> 1,000 <p>Mensual</p><p></p></li>
							<li>500 Facturas</li>
							<li>Clientes/Ilimitado</li>
							<li>10 Usuario</li>
							<li>Soporte</li>
							<li>Notas de Credito</li>
							<li>Envía PDF y XML.</li>
							<li>Catálogos </li>
							<li>clientes y productos.</li>
							<li>Factura con tu logotipo.</li>
							<li>Multialmacen.</li>
							<li>Compras.</li>
						
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 pricing-table no-zoom">
					<ul class="list-unstyled">
						<li class="head">Adicional</li>
						<li class="price"><sup>$</sup> 300 <p>Mensual</p><p></p></li>
							<li>100 Facturas</li>
							<li>Clientes/Ilimitado</li>
							<li>5 Usuario</li>
							<li>Soporte</li>
							<li>Notas de Credito</li>
							<li>Envía PDF y XML.</li>
							<li>Catálogos </li>
							<li>clientes y productos.</li>
							<li>Factura con tu logotipo.</li>
							<li>Multialmacen.</li>
							<li>Compras.</li>
						<!--<li class="foot"><a href="#" class="btn btn-warning btn-larges">Comprar</a></li>-->
					</ul>
				</div>
			</div>

		</div>
	</div>
{% endblock %}