{% extends '::base.html.twig' %}

{% block body %}
	<!-- begin:heading -->
	<div class="heads" style="background:url('{{asset('bundles/app/img/Seccion_soporte.png') }}') center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2> Soporte</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->

	<!-- begin:featured -->
	<div id="featured">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="featured-container">
						<div class="featured-photos">
							<i class="fa fa-phone"></i>
						</div>
						<div class="heading-title"><h2>Soporte telefonico</h2></div>
						<p>
							<b>HD México (colocar logo)</b><br>
							<a href="tel:5524555524">(55) 2455 5524</a><br />
							<a href="tel:018000004369">01800 000 4369</a><br />
							<a href="mailto:info@gestion.global">info@gestion.global</a><br />
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-container">
						<div class="featured-photos">
							<i class="fa fa-comments"></i>
						</div>
						<div class="heading-title"><h2>Chat</h2></div>
						<p>
							PRÓXIMAMENTE...</br />
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-container">
						<div class="featured-photos">
							<i class="fa fa-laptop"></i>
						</div>
						<div class="heading-title"><h2>Capacitaciones</h2></div>
						<p>
							<b>Habeas Data México S.A. de C.V.</b><br>
							Viaducto Río Becerra 168<br />
							San Pedro de los Pinos<br />
							Benito Juárez, 03800,<br />
							Distrito Federal, México<br />
							<a href="tel:5524555524">(55) 2455 5524</a>
							<a href="tel:018000004369">01800 000 4369</a>
							<a href="mailto:ventas@gestion.global">ventas@gestion.global</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end:featured -->
{% endblock %}
